.DayPicker {
    font-family: arial, sans-serif;
}

.SingleDatePicker__picker--portal {
    z-index: 999999999;
}

.SingleDatePickerInput {
    border: 0;
}

.DateInput {
    padding: 0;
}

.DateInput__display-text {
    border-radius: 5px;
    border: 1px solid #95989a;
    min-height: 23px;
    font-size: 18px;
}

.DateInput__display-text--has-input {
    color: #95989a;
}